.background-img {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  z-index: 1;
}

.background-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 30, 37, 0.6);
  z-index: -1;
}
.background-img.home {
  background-image: url("https://file.akiravd.online/images/banner.jpg");
}
.background-img.about {
  background-image: url("https://file.akiravd.online/images/about.jpg");
}
.background-img.contact {
  background-image: url("https://file.akiravd.online/images/contact.png");
}
